#brand{
    width:100%; 
    height: 100vh;
    padding:100px 0; 
    margin-bottom:100px;
    background:var(--color-white); 
   
 
    .brand__inner{
        width:1180px; 
        margin:0 auto; 
 
        >h1{
        font-size:30px;
        text-align: center;
        padding-bottom: 20px;
       }
 
        .brand__wrap{
            width:100%; 
 
            .brand__txt{
                width:380px; 
                height:620px; 
                background:var(--color-white); 
                float:left; 
                margin-right:20px; 
                padding:170px 50px 0px;   
                text-align:center; 
   
               
             }
            .brand__pic1{
                width:380px; 
                height:300px; 
                
                float:left; 
                margin-right:20px;
 
                img{
                   width:100%; 
                   height:100%; 
                   object-fit:cover; 
                }
             }
            .brand__pic2{
                width:380px; 
                height:300px; 
                background:#444; 
                float:left; 
 
                img{
                   width:100%; 
                   height:100%; 
                   object-fit:cover; 
                }
             }
            .brand__pic3{
                width:780px; 
                height:300px; 
                float:left; 
                margin-top:20px; 
                position:relative;
 
                img{
                   width:100%; 
                   height:100%; 
                   object-fit:cover; 
                }
             }
          }
       }
}