#visual {
    width: 100%;  height: 500px;
    background: #f7f7f1;
  
    img{
      width: 100%;  height: 100%;
      object-fit: cover;
    }
  }
  

#info {
    width: 100%; padding:100px 0px;
    .inner {
        width: 1180px; min-height: 400px; margin: 0px auto;
    }
}
