.community {
    .inner {
        article {
            padding: 20px 10px;
            margin-bottom:20px;
            border-top: 1px solid rgb(188, 183, 183);
            border-bottom: 1px solid rgb(188, 183, 183);
            ;
            display: flex;
            
            justify-content: space-between;
            
            h1{
                font-weight: normal;
            }
            .dateandwriter {
                span {
                    font-size: 20px;
                }
                em {
                    margin-left:20px;
                    font-size: 20px;
                    font-style: normal;
                }
            }
        }
    }
}