.youtube {
    .inner {
      .frame {
        &::after {
          content: ""; display: block; clear: both;        
        }
  
        article {
          width: 50%; height: 45vh; float: left;
          padding: 20px; overflow: hidden;
  
          .inner {
            width: 100%; height: 100%; background: #fff; box-shadow: 5px 5px 15px rgba(0,0,0,.1); padding: 20px;
            display: flex; flex-wrap: wrap;

  
            .txt {
              h2 {
                font: 17px/1.2 "dosis"; color: rgb(90, 102, 98); margin-bottom: 20px;
              }
  
              p {
                font: 12px/1.2 "dosis"; color: rgb(152, 172, 165);margin-bottom: 20px;
              }
            }
  
  
            .pic {
              width: 100%; height: 160px; 
              img {
                width: 100%; height: 100%; object-fit: cover;
              }
            }
          }
        }
    }
  }
} 