@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Licorice&family=Raleway:wght@100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  outline: 0; }

body {
  background: #efefef; }

header {
  width: 100%;
  background: #4f4d4d; }
  header .inner {
    width: 1180px;
    height: 100px;
    margin: 0px auto;
    position: relative; }
    header .inner h1 {
      position: absolute;
      left: 0px;
      bottom: 20px; }
      header .inner h1 a {
        font: bold 26px/1 "dosis";
        color: #f5f6f4; }
    header .inner #gnb {
      position: absolute;
      bottom: 0px;
      right: 0px; }
      header .inner #gnb li {
        float: left; }
        header .inner #gnb li a {
          display: inline-block;
          padding: 22px 30px;
          font: 16px/1 "dosis";
          color: #fff; }

main {
  padding: 100px 0px; }
  main > .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0px auto; }
    main > .inner h1 {
      font: 25px/1 "dosis";
      color: #b4bab9;
      margin-bottom: 20px; }

footer {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 50px 0px; }
  footer .inner {
    width: 1180px;
    margin: 0px auto;
    text-align: center; }
    footer .inner p {
      font: 12px/1 "dosis";
      color: #9da2ab;
      text-align: center; }

@media screen and (max-width: 1179px) {
  header .inner {
    width: 100%; }
    header .inner h1 {
      left: 3vw; }
    header .inner #gnb {
      display: none; }

  main {
    padding: 80px 40px; }
    main .inner {
      width: 100%; }

  footer .inner {
    width: 100%; } }
figure {
  width: 100%;
  height: 550px;
  background: #9fd0ef; }

#info {
  width: 100%;
  padding: 100px 0px; }
  #info .inner {
    width: 1180px;
    min-height: 400px;
    margin: 0px auto; }

.gallery .inner > section::after {
  content: "";
  display: block;
  clear: both; }
.gallery .inner > section article {
  width: 25%;
  height: 300px;
  float: left;
  padding: 20px; }
  .gallery .inner > section article > .inner {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 18px; }
    .gallery .inner > section article > .inner .pic {
      width: 100%;
      height: 180px;
      margin-bottom: 20px; }
      .gallery .inner > section article > .inner .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .gallery .inner > section article > .inner h2 {
      font: normal 14px/1.2 "dosis";
      color: #777;
      text-align: center; }
.gallery .pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw; }
  .gallery .pop img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .gallery .pop p {
    font: 14px/1.2 "dosis";
    color: #fff;
    text-align: center; }
  .gallery .pop span {
    font: bold 14px/1 "dosis";
    color: #fff;
    position: absolute;
    top: 3vw;
    right: 5vw;
    cursor: pointer; }

.youtube .inner .frame::after {
  content: "";
  display: block;
  clear: both; }
.youtube .inner .frame article {
  width: 50%;
  height: 45vh;
  float: left;
  padding: 20px;
  overflow: hidden; }
  .youtube .inner .frame article .inner {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-wrap: wrap; }
    .youtube .inner .frame article .inner .txt h2 {
      font: 17px/1.2 "dosis";
      color: #5a6662;
      margin-bottom: 20px; }
    .youtube .inner .frame article .inner .txt p {
      font: 12px/1.2 "dosis";
      color: #98aca5;
      margin-bottom: 20px; }
    .youtube .inner .frame article .inner .pic {
      width: 100%;
      height: 160px; }
      .youtube .inner .frame article .inner .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

/*# sourceMappingURL=style.css.map */
