@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Licorice&family=Raleway:wght@100&display=swap');



@import "common/reset";
@import "common/layout";

@import "main/visual";
@import "main/info";

@import "sub/department";
@import "sub/community";
@import "sub/gallery";
@import "sub/youtube";
@import "sub/location";
@import "sub/join";



